node_modules
dist
bower_components
app/php/sausage_secrets.inc
app/php/client_secrets.inc
.tmp
.publish/
gulpfile.js
php/
TODO.md

# POC Layouts
poc-layouts/
poc-*.html

# Neon Animation POCs
app/elements/*/neon/*
